version: "3.9"

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.3.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  driver-service:
    build: ./driver-service
    depends_on:
      - kafka
    environment:
      KAFKA_BROKERS: kafka:29092
    deploy:
      replicas: 2

  rider-service:
    build: ./rider-service
    depends_on:
      - redis
      - mongo
    environment:
      REDIS_HOST: redis
      MONGO_URI: mongodb://mongo:27017/uber
    deploy:
      replicas: 2

  consumer-service:
    build: ./consumer-service
    depends_on:
      - kafka
      - mongo
    environment:
      KAFKA_BROKERS: kafka:29092
      MONGO_URI: mongodb://mongo:27017/uber

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - driver-service
      - rider-service